spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://library.c74xww03uywm.ap-northeast-2.rds.amazonaws.com:3306/library?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: user
    password: 12341234

  jpa:
    hibernate:
      ddl-auto: update
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

server:
  servlet:
    encoding:
      force-response: true

http:
  encoding:
    force: true
    charset: UTF-8
