/*bookDetail, bookRegist , bookEdit*/
/*폰트*/
@font-face {
    font-family: 'reco';
    src: url('font/reco.ttf') format('truetype');
}

@font-face {
    font-family: 'skybori';
    src: url('font/skybori.ttf') format('truetype');
}

/*폰트 끝*/
/*bookDetail 디자인*/
.detailBox {
    position: relative;
    width: 910px;
    height: auto;
    max-height: 850px;
    border: 5px solid #EFE7DD;
    border-radius: 50px;
    margin: 30px auto;
}

.detailBox2 {
    position: absolute;
    width: 310px;
    height: 100%;
    border-right: 5px solid #EFE7DD;
    background-color: #F9F2E8;
    border-radius: 45px 0 0 45px;
    z-index: 2;
}

/*DetailForm*/
.detailForm {
    width: 910px;
    height: 80px;
    display: flex;
    z-index: 2;
    margin: auto;
    margin-bottom: 10px;
    line-height: 80px;
}

.detailForm:last-child {
    margin-bottom: 20px;
}

.detailForm span {
    width: 310px;
    height: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 80px;
    font-family: 'skybori', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    z-index: 3;
}

.detailFormBox {
    width: 550px;
    height: 50px;
    border-radius: 80px;
    border: 5px solid #EFE7DD;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 50px;
}

.detailFormBox span {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    font-size: 28px;
}

/*버튼*/
.btnBox {
    width: 910px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.detailBtn {
    width: auto;
    min-width: 80px;
    height: 50px;
    background-color: #EFE7DD;
    font-size: 20px;
    font-family: 'reco', sans-serif;
    color: #A19890;
    border-radius: 50px;
    border: 5px solid #EFE7DD;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.detailBtn:last-child {
    background: none;
    width: 120px;
}

.btnBox2 {
    display: flex;
    justify-content: right;
}

/*bookRegist & bookEdit*/

.detailForm input {
    text-align: center;
    font-size: 28px;
    font-family: 'skybori', sans-serif;
    color: #A19890;
}

/*btn*/
.btnBox2 {
    width: 910px;
    height: 100px;
    display: flex;
    justify-content: right;
}

.detailBtn2 {
    width: auto;
    min-width: 80px;
    height: 50px;
    background-color: #EFE7DD;
    font-size: 20px;
    font-family: 'reco', sans-serif;
    color: #A19890;
    border-radius: 50px;
    border: 5px solid #EFE7DD;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.detailBtn2:first-child {
}

.detailBtn2:nth-child(2) {
    background: none;
}

form {
    margin-bottom: 50px;
}

.bookOk {
    color: #439AFF;
}

.bookNo {
    color: #FF6363;
}

#bookRegistForm {
    margin: 0;
}