/*bookSearch, bookList 스타일*/
/*폰트*/
@font-face {
    font-family: 'reco';
    src: url('font/reco.ttf') format('truetype');
}

@font-face {
    font-family: 'skybori';
    src: url('font/skybori.ttf') format('truetype');
}

/*폰트 끝*/

/*bookSearch*/
/*검색 박스 디자인*/
.searchBox {
    width: 800px;
    height: 80px;
    background-color: #EFE7DD;
    border-radius: 50px;
    margin: 30px auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/*검색 창*/
input {
    width: 650px;
    height: 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px 0 0 50px;
    display: inline-block;
    font-size: 28px;
    font-family: 'skybori', sans-serif;
    color: #A19890;
    line-height: 60px;
    justify-content: right;
    float: left;
    margin: 0;
    padding-left: 30px;
    margin-left: 5px;

}

form {
    margin: auto 0 auto 10px;
    display: flex;
    justify-content: left;
    height: 60px;
    width: 800px;
}
/*검색 버튼*/
#searchBtn {
    margin:0 auto;
    width: 150px;
    display: flex;
    justify-content: left;
    color: white;
    font-family: 'reco', sans-serif;
    font-size: 32px;
    border: none;
    background: none;
    text-align: center;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}

/*검색어*/
.searchWord {
    font-size: 16px;
    font-family: 'reco',sans-serif;
    width: 150px;
    display: inline-block;
    text-align: center;
    justify-content: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    margin-left: 750px;
    margin-bottom: 0;
}

/*bookSearch 끝*/
/*bookList*/
/*도서 목록 디자인 박스*/
.listBox {
    position: relative;
    width: 910px;
    min-height: 150px;
    height: auto;
    border-radius: 50px;
    border: 5px solid #EFE7DD;
    margin: 30px auto;
    text-align: center;
    padding: 0;

}

.listBox2 {
    position: absolute;
    top: 0;
    left: -5px;
    width: 910px; /* 수정된 부분: 전체 너비에 맞춤 */
    height: 70px;
    border-radius: 50px 50px 0 0;
    border-bottom: 5px solid #EFE7DD;
    border-left: 5px solid #EFE7DD;
    border-right: 5px solid #EFE7DD;
    background-color: #F9F2E8;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
}

.listTextBox {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

.listTextBox:first-child{
    cursor:default;
}

.listTextBox:nth-child(2){
    margin-top: 70px;
}

.listTextBox li {
    width: 130px;
    font-size: 20px;
    border-right: 1px solid #EFE7DD;
    padding: 20px 30px; /* 상하 여백 추가 */
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.listTextBox li:last-child {
    border-right: none;
}

.bookOk {
    color: #439AFF;
}
.bookNo {
    color: #FF6363;
}