/* 페이지 스타일 */

/*폰트*/
@font-face {
    font-family: 'reco';
    src: url('font/reco.ttf') format('truetype');
}

@font-face {
    font-family: 'skybori';
    src: url('font/skybori.ttf') format('truetype');
}
/*폰트 끝*/

/*header*/
header {
    background-color: #EFE7DD;
    width: 1200px;
    height: 150px;
    font-size: 20px;
    font-family: 'reco', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    font-size: 56px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nickname {
    font-size: 28px;
    display: flex;
    justify-content: right;
    margin-left: 50px;
}
header span {
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
header button {
    color: #BBB2A9;
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'reco', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: right;
    margin-left: 10px;
    cursor: pointer;
}

/*footer*/
footer {
    background-color: #EFE7DD;
    width: 1200px;
    height: 150px;
    font-size: 16px;
    font-family: 'reco', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #FFFBF5;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'skybori', sans-serif;
    font-size: 16px;
    color: #A19890;
    display: flex;
    flex-direction: column;
}

/*페이지 틀*/
#pageBody {
    flex: 1;
    padding: 50px 100px;
    min-height: calc(100vh - 300px); /* 헤더와 푸터의 높이를 제외한 나머지 공간을 차지하도록 설정 */
    display: flex;
    flex-direction: column;
}

/*페이지 별 제목*/
.pageTitle {
    font-family: 'reco', sans-serif;
    font-size: 32px;
    padding-left: 40px;
    margin-top: 30px;
}

/*placeholder 색상*/
input::placeholder {
    color: #DED2C5;
    text-align: center;
}