/* style.css */

@font-face {
    font-family: 'reco';
    src: url('font/reco.ttf') format('truetype');
}

header {
    background-color: #EFE7DD;
    width: 1200px;
    height: 150px;
    font-size: 56px;
    font-family: 'reco', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #EFE7DD;
    width: 1200px;
    height: 150px;
    font-size: 16px;
    font-family: 'reco', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #FFFBF5;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'skybori', sans-serif;
    font-size: 16px;
    color: #A19890;
    display: flex;
    flex-direction: column;
}

#mainBody {
    flex: 1;
    padding: 20px;
    min-height: calc(100vh - 300px); /* 헤더와 푸터의 높이를 제외한 나머지 공간을 차지하도록 설정 */
    display: flex;
    flex-direction: column;
}


