<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.library_system.dao.BookDAO">
    <!--도서 목록-->
    <select id="bookListAll" resultType="com.project.library_system.dto.BookDTO">
     SELECT * FROM BOOK
    </select>
    <!--도서 검색-->
    <select id="searchBooks" resultType="com.project.library_system.dto.BookDTO">
     SELECT * FROM BOOK WHERE bookTitle LIKE CONCAT('%', #{bookTitle}, '%')
    </select>
    <!-- 도서 상세 정보 조회 -->
    <select id="detailBook" resultType="com.project.library_system.dto.BookDTO">
        SELECT * FROM BOOK LEFT JOIN BORROW ON BOOK.bookNum = BORROW.bookNum WHERE BOOK.bookNum = #{bookNum}
    </select>
    <!-- 도서 등록 -->
    <insert id="bookRegistOk" parameterType="com.project.library_system.dto.BookDTO">
        INSERT INTO BOOK ( bookTitle, author, genre, publisher, publishedYear)
        VALUES ( #{bookTitle}, #{author}, #{genre}, #{publisher}, #{publishedYear})
    </insert>
</mapper>
